<%= form_tag({}, :class => 'form-box') do %>
	<table>
		<tr>
			<td>
			  <%= label_tag(:username, "Username:") %>
			</td>
			<td>
			  <%= text_field_tag(:username) %>
			</td>
		</tr>
		<tr>
			<td>
			  <%= label_tag(:password, "Password:") %>
			</td>
			<td>
			  <%= text_field_tag(:password) %>
			</td>
		</tr>
	</table>
  <%= submit_tag("Login") %>
	<p> If you do not have an account and would like to start collecting karma for your inventions, <a href="/users/new"><b>Sign-up Here!</b></a></p>
<% end %>