<%= form_tag(@user, :class => 'form-box') do %>
	<table>
		<tr>
			<td>
			  <%= label_tag(:username, "Username:") %>
			</td>
			<td>
			  <%= text_field_tag(:username) %>
			</td>
		</tr>
		<tr>
			<td>
			  <%= label_tag(:password, "Password:") %>
			</td>
			<td>
			  <%= text_field_tag(:password) %>
			</td>
		</tr>
		<tr>
			<td>
			  <%= label_tag(:password_2, "Re-enter Password:") %>
			</td>
			<td>
			  <%= text_field_tag(:password_2) %>
			</td>
		</tr>
		<tr>
			<td>
			  <%= label_tag(:first_name, "First Name:") %>
			</td>
			<td>
			  <%= text_field_tag(:first_name) %>
			</td>
		</tr>
		<tr>
			<td>
			  <%= label_tag(:last_name, "Last Name:") %>
			</td>
			<td>
			  <%= text_field_tag(:last_name) %>
			</td>
		</tr>
		<tr>
			<td>
			  <%= label_tag(:email, "Email:") %>
			</td>
			<td>
			  <%= text_field_tag(:email) %>
			</td>
		</tr>
	</table>
  <%= submit_tag("Create Account") %>
<% end %>