<table cellspacing="10px" class="tune-settings">
	<tr>
		<th><h4>Downforce</h4></th>
	</tr>
	<tr>
		<td>
			<ul>
				<li>
					<%= f.label :downforce_f, 'Front Downforce' %>
					<%= f.text_field :downforce_f, :size => 3 %>
				</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>
					<%= f.label :downforce_r, 'Rear Downforce' %>
					<%= f.text_field :downforce_r, :size => 3 %>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<th><h4>Weight Adjustment</h4></th>
	</tr>
	<tr>
		<td>
			<ul>
				<li>
					<%= f.label :ballast_amount, 'Ballast Amount(kg)' %>
					<%= f.text_field :ballast_amount, :size => 3 %>
				</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>
					<%= f.label :ballast_position, 'Ballast Position' %>
					<%= f.text_field :ballast_position, :size => 3 %>
				</li>
			</ul>
		</td>
	</tr>
</table>