<div id="lsd_table" style="display: none;">
	<table class="tune-settings">
		<tr>
			<th><h4>LSD Settings</h4></th>
		</tr>
		<tr>
			<td>
				<ul>
					<li>
						<%= f.label :initial_torque_f, 'Front Initial Torque' %>
						<%= f.text_field :initial_torque_f, :size => 4 %>
					</li>
					<li>
						<%= f.label :acceleration_sensitivity_f, 'Front Acceleration Sensitivity' %>
						<%= f.text_field :acceleration_sensitivity_f, :size => 4 %>
					</li>
					<li>
						<%= f.label :braking_sensitivity_f, 'Front Braking Sensitivity' %>
						<%= f.text_field :braking_sensitivity_f, :size => 4 %>
					</li>
				</ul>
			</td>
			<td>
				<ul>
					<li>
						<%= f.label :initial_torque_r, 'Rear Initial Torque' %>
						<%= f.text_field :initial_torque_r, :size => 4 %>
					</li>
					<li>
						<%= f.label :acceleration_sensitivity_r, 'Rear Acceleration Sensitivity' %>
						<%= f.text_field :acceleration_sensitivity_r, :size => 4 %>
					</li>
					<li>
						<%= f.label :braking_sensitivity_r, 'Rear Braking Sensitivity' %>
						<%= f.text_field :braking_sensitivity_r, :size => 4 %>
					</li>
				</ul>
			</td>
		</tr>
	</table>
</div>