<div id="suspension_table" style="display: none;">
	<table class="tune-settings">
		<tr>
			<th><h4>Adjustments</h4></th>
		</tr>
		<tr>
			<td>
				<ul>
					<li>
						<%= f.label :ride_height_f, 'Front Ride Height Adjustment (mm)' %>
						<%= f.text_field :ride_height_f, :size => 4 %>
					</li>
					<li>
						<%= f.label :spring_rate_f, 'Front Spring Rate (kgf/mm)' %>
						<%= f.text_field :spring_rate_f, :size => 4 %>
					</li>
					<li>
						<%= f.label :dampners_ext_f, 'Front Dampers (Extension)' %>
						<%= f.text_field :dampners_ext_f, :size => 4 %>
					</li>
					<li>
						<%= f.label :dampners_comp_f, 'Front Dampers (Compression)' %>
						<%= f.text_field :dampners_comp_f, :size => 4 %>
					</li>
					<li>
						<%= f.label :anti_roll_bar_f, 'Front Anti-Roll Bars' %>
						<%= f.text_field :anti_roll_bar_f, :size => 4 %>
					</li>
				</ul>
			</td>
			<td>
				<ul>
					<li>
						<%= f.label :ride_height_r, 'Rear Ride Height Adjustment (mm)' %>
						<%= f.text_field :ride_height_r, :size => 4 %>
					</li>
					<li>
						<%= f.label :spring_rate_r, 'Rear Spring Rate (kgf/mm)' %>
						<%= f.text_field :spring_rate_r, :size => 4 %>
					</li>
					<li>
						<%= f.label :dampners_ext_r, 'Rear Dampers (Extension)' %>
						<%= f.text_field :dampners_ext_r, :size => 4 %>
					</li>
					<li>
						<%= f.label :dampners_comp_r, 'Rear Dampers (Compression)' %>
						<%= f.text_field :dampners_comp_r, :size => 4 %>
					</li>
					<li>
						<%= f.label :anti_roll_bar_r, 'Rear Anti-Roll Bars' %>
						<%= f.text_field :anti_roll_bar_r, :size => 4 %>
					</li>
				</ul>
			</td>
		</tr>
	</table>
	<table cellspacing="10px" class='tune-settings'>
		<tr>
			<tbody>
				<tr>
					<th><h4>Wheel Alignment</h4></th>
				</tr>
				<tr>
					<td>
						<ul>
							<li>
								<%= f.label :camber_f, 'Front Camber Angle' %>
								<%= f.text_field :camber_f, :size => 4 %>
							</li>
							<li>
								<%= f.label :toe_f, 'Front Toe Angle' %>
								<%= f.text_field :toe_f, :size => 4 %>
							</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>
								<%= f.label :camber_r, 'Rear Camber Angle' %>
								<%= f.text_field :camber_r, :size => 4 %>
							</li>
							<li>
								<%= f.label :toe_r, 'Rear Toe Angle' %>
								<%= f.text_field :toe_r, :size => 4 %>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</tr>
	</table>
</div>