<div id="transmission_table" style="display: none;">
	<table class="tune-settings">
		<tr>
			<th><h4>Gearbox Settings</h4></th>
		</tr>
		<tr>
			<td>
				<ul>
					<li><%= f.label :gear_1, '1st Gear' %><%= f.text_field :gear_1, :size => 4 %></li>
					<li><%= f.label :gear_2, '2nd Gear' %><%= f.text_field :gear_2, :size => 4 %></li>
					<li><%= f.label :gear_3, '3rd Gear' %><%= f.text_field :gear_3, :size => 4 %></li>
					<li><%= f.label :gear_4, '4th Gear' %><%= f.text_field :gear_4, :size => 4 %></li>
					<li><%= f.label :gear_5, '5th Gear' %><%= f.text_field :gear_5, :size => 4 %></li>
					<li><%= f.label :gear_6, '6th Gear' %><%= f.text_field :gear_6, :size => 4 %></li>
					<li><%= f.label :gear_7, '7th Gear' %><%= f.text_field :gear_7, :size => 4 %></li>
				</ul>
			</td>
			<td valign="top">
				<ul>
					<li><%= f.label :gear_final, 'Final Gear' %><%= f.text_field :gear_final, :size => 4 %></li>
					<li><%= f.label :top_speed, 'Top Speed' %><%= f.text_field :top_speed, :size => 4 %></li>
				</ul>
			</td>
		</tr>
	</table>
</div>