<a href=""><h3 id="filters_header">Filters</h3></a>
<div id="tune_filters" style="display: none;">
	<table>
		<tr>
			<th><h3><%= label_tag('filter_cars_make', "By Car: ") %></h3></th>
			<th><h3><%= label_tag('filter_track_id', "By Track: ") %></h3></th>
			<th><h3><%= label_tag('filter_tune_type', "Tune Type: ") %></h3></th>
		</tr>
		<tr>
			<td width="44%">
				<%= label_tag('filter_cars_make', "Make: ") %>
				<%= select_tag("filter[cars_make]", options_from_collection_for_select(Car.select('DISTINCT make').all, "make", "make", params['filter']['cars_make']), :include_blank => '- Select a Make -') %><br />
				<%= label_tag('filter_cars_year', "Year: ") %>
				<%= select_tag("filter[cars_year]") %><br /><br />
				<%= label_tag('filter_cars_premium', "Premium", {:class => 'checkbox_label'}) %>
				<%= check_box_tag 'filter[cars_premium]', 'premium', params['filter']['cars_premium'] %>&nbsp; &nbsp;
				<%= label_tag('filter_cars_standard', "Standard", {:class => 'checkbox_label'}) %>
				<%= check_box_tag 'filter[cars_standard]', 'standard', params['filter']['cars_standard'] %><br /><br /,>
				<%= label_tag('filter_cars_id', "Model: ") %>
				<%= select_tag("filter[cars_id]") %>
			</td>
			<td width="33%">
				<%= select_tag("filter[track_id]", options_from_collection_for_select(Track.order('name').all, "id", "name", params['filter']['track_id']), :include_blank => '- Select a Track -', :style => 'width: 200px') %>
			</td>
			<td width="23%">
				<%= select_tag("filter[tune_type]", options_for_select(['Grip', 'Drift', 'Drag'], params['filter']['tune_type']), :include_blank => '- Select a Type -') %>
			</td>
		</tr>
	</table>
	<%= submit_tag('Filter', :class => 'btn') %> &nbsp;
	<%= link_to 'Reset Filters', @form_uri, :class => "btn" %>
</div>

<br /><br />

<script>
$(document).ready(function() {
	get_years($('#filter_cars_make').val(), 0);
	
	<% if params['filter'].present? %>
		$('#tune_filters').toggle();
	<% end %>
	
	$('#filters_header').click(function() {
		$('#tune_filters').toggle();
		return false;
	})
	
	$('#filter_cars_make').change(function() {
		get_years($(this).val(), 1);
	});
	
	$('#filter_cars_year').change(function() {
		get_models($('#filter_cars_make').val());
	});
	
	function get_years (make, changed) {
		$.get('/cars/_get_years', {make: make}, function(years) {
			html = '<option value="">- Select a Year -</option>';
			$.each(years, function(i, year) {
				selected = (year == '<%= params["filter"]["cars_year"] %>' && !changed) ? ' selected="selected"' : '';
				html += '<option value="' + year + '"' + selected + '>' + year + '</option>' ;
			});
			$('#filter_cars_year').html(html);
			get_models(make);
		}, 'json');
	}
	
	function get_models (make) {
		$.get('/cars/_get_models', {make: make, year: $('#filter_cars_year').val()}, function(models) {
			html = '<option value="">- Select a Model -</option>';
			$.each(models, function(i, model) {
				selected = (model.id == '<%= params["filter"]["cars_id"] %>') ? ' selected="selected"' : '';
				html += '<option value="' + model.id + '"' + selected + '>' + model.name + '</option>';
			});
			$('#filter_cars_id').html(html);
		}, 'json');
	}
});
</script>