<%= form_for(@tune) do |f| %>
  <% if @tune.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tune.errors.count, "error") %> prohibited this tune from being saved:</h2>

      <ul>
      <% @tune.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<!-- Hidden Fields -->
	<%= f.text_field :tuner_id, :value => current_tuner.id, :hidden => true %>
	<!-- END Hidden Fields -->
	
	<div id="tunetabs">
		<ul>
			<li><a href="#basic_info">Basic</a></li>
			<% @groups.each do | group, subgroups | %>
				<li><a href="#<%= group.downcase.gsub(/(\s|\/)/, "_") %>"><%= group %></a></li>
			<% end %>
		</ul>
		
		
		<div id="basic_info">
			<h2>General Settings</h2>
			<table>
				<tr>
					<td>
						<div class="field">
							<b><%= f.label :car_id %></b>
							<%= f.collection_select(:car_id, Car.ordered.all, :id, :display_name, {}, {:style => 'width: 210px'}) %>
						</div>
					</td>
					<td>
						<div class="field">
							<b><%= f.label :performance_points, 'Performance Points' %></b>
							<%= f.text_field :performance_points %>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="field">
							<b><%= f.label :tune_type, 'Tune Type' %></b>
							<%= f.select(:tune_type, options_for_select(['Grip', 'Drift', 'Drag'], @tune.tune_type)) %>
						</div>
					</td>
					<td>
						<div class="field">
							<b><%= f.label :weight %></b>
							<%= f.text_field :weight %>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="field">
							<b><%= f.label :horsepower %></b>
							<%= f.text_field :horsepower %>
						</div>
					</td>
					<td>
						<div class="field">
							<b><%= f.label :torque %></b>
							<%= f.text_field :torque %>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="field">
							<b><%= f.label :transmission_type, 'Transmission Type' %></b>
							<%= f.select(:transmission_type, options_for_select({'Manual (MT)' => "Manual", 'Automatic (AT)' => 'Automatic'}, @tune.transmission_type)) %>
						</div>
					</td>
					<td>
						<div class="field">
							<b><%= f.label :traction_control, 'Traction Control' %></b>
							<%= f.select :traction_control, options_for_select(0..10, @tune.traction_control) %>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="field">
							<b><%= f.label :abs, 'ABS' %></b>
							<%= f.select :abs, options_for_select(0..10, @tune.abs) %>
						</div>
					</td>
					<td>
						<div class="field">
							<b><%= f.label :skid_recovery, 'Skid Recovery' %></b>
							<%= f.select :skid_recovery, options_for_select({'Off' => 0, 'On' => 1}, @tune.skid_recovery) %>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="field">
							<b><%= f.label :active_steering, 'Active Steering' %></b>
							<%= f.select :active_steering, options_for_select({'Off' => 0, 'On' => 1}, @tune.active_steering) %>
						</div>
					</td>
					<td>
						<div class="field">
							<b><%= f.label :asm, 'Active Stability Management (ASM)' %></b>
							<%= f.select :asm, options_for_select({'Off' => 0, 'On' => 1}, @tune.asm) %>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div class="field">
							<b><%= f.label :track_id %></b>
							<%= f.collection_select(:track_id, Track.ordered.all, :id, :name) %>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div class="field">
							<b><%= f.label :comments, 'Tuner Comments' %></b>
							<%= f.text_area :comments, :size => '80x5' %>
						</div>
					</td>
				</tr>
			</table>
		</div>
		
		<%= render :partial => 'tunes/_form/parts', :locals => { :groups => @groups, :tune => @tune, :f => f } %>
		
		<%= f.submit :id => "tune-form-btn", :class => "btn" %>
	</div>
<% end %>

<script>

function toggle_settings_for_input (input_id) {
	if ($(input_id).attr('rel')) {
		rel = $(input_id).attr('rel');
		num_checked = 0;
		$('#tunetabs input[rel="' + rel + '"]').each(function() {
			if ($(this).attr('checked')) num_checked++;
		});
		
		if (num_checked) $(rel).show();
		else $(rel).hide();
	}
}

function toggle_settings_for_select (select_id) {
	select_value = $(select_id).val();
	select_has_rel_option = ($(select_id).find('option[rel]').length > 0);
	selected_option = $(select_id).find('option[value='+select_value+']').first();
	
	if (selected_option.attr('rel')) {
		$(selected_option.attr('rel')).show();
	}
	else if (select_has_rel_option) {
		$(select_id).find('option[rel]').each(function() {
			$($(this).attr('rel')).hide();
		});
	}
}

$(document).ready(function() {
	$("#tunetabs").tabs();
	
	$("#tunetabs input").change(function() {
		toggle_settings_for_input('#'+$(this).attr('id'));
	});
	
	$("#tunetabs select").change(function() {
		toggle_settings_for_select('#'+$(this).attr('id'));
	});
	
	$("#tunetabs input").each(function() {
		toggle_settings_for_input('#'+$(this).attr('id'));
	});
	
	$("#tunetabs select").each(function() {
		toggle_settings_for_select('#'+$(this).attr('id'));
	});
});
</script>