<%= form_for(@tune) do |f| %>
  <% if @tune.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tune.errors.count, "error") %> prohibited this tune from being saved:</h2>

      <ul>
      <% @tune.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<!-- Hidden Fields -->
	<%= f.text_field :user_id, :value => current_user.id, :hidden => true %>
	<!-- END Hidden Fields -->
	<div class="field">
		<%= f.label :tune_type %><br />
		<%= f.select(:tune_type, options_for_select(['Grip', 'Drift', 'Drag'], @tune.tune_type)) %>
	</div>
	<div class="field">
		<%= f.label :car_id %><br />
		<%= f.collection_select(:car_id, Car.ordered.all, :id, :display_name) %>
	</div>
	<div class="field">
		<%= f.label :track_id %><br />
		<%= f.collection_select(:track_id, Track.ordered.all, :id, :name) %>
	</div>

	<h2>Parts Installed</h2>
	<table class="parts-table">
		<tr>
			<% max_columns = 3 # Setup Max Column Size %>
			<% current_column = 0 %>
			<% Part.get_grouped_parts.each do |group, parts|  %>
				<% if current_column == max_columns %>
					</tr>
					<tr>
					<% current_column = 0 %>
				<% end # End if %>
				<td>
					<table>
						<tr>
							<th><%= group %></th>
						</tr>
						<% parts.each do |part| %>
							<tr>
								<td>
									<% 
										# Preparing the options array
										options = Hash.new
										if !part.html_class.empty?
											options[:class] = part.html_class
										end
										if !part.html_ref_id.empty?
											options[:rel] = "##{part.html_ref_id}"
										end
									%>
									<%= check_box_tag "tune[part_ids][]", part.id, @tune.parts.include?(part), options %>
									<%= label_tag "tune[part_ids][]", part.name %>
								</td>
							</tr>
						<% end # End parts loop %>
					</table>
				</td>
				<% current_column += 1 %>
			<% end # End grouped parts loop %>
		</tr>
	</table>

	<div id="body_chassis_table" style="display: none;">
		<h2>Body/Chassis</h2>
	 	<table cellspacing="10px">
			<tr>
				<th><h3>Aero</h3></th>
			</tr>
			<tr>
				<td>
					<div class="field">
						<%= f.label :downforce_f, 'Front Downforce' %><br />
						<%= f.text_field :downforce_f, :size => 3 %>
					</div>
				</td>
				<td>
					<div class="field">
						<%= f.label :downforce_r, 'Rear Downforce' %><br />
						<%= f.text_field :downforce_r, :size => 3 %>
					</div>
				</td>
			</tr>
			<tr>
				<th><h4>Weight Adjusment</h4></th>
			</tr>
			<tr>
				<td>
					<div class="field">
						<%= f.label :ballast_amount, 'Ballast Amount(kg)' %><br />
						<%= f.text_field :ballast_amount, :size => 3 %>
					</div>
				</td>
				<td>
					<div class="field">
						<%= f.label :ballast_position, 'Ballast Position' %><br />
						<%= f.text_field :ballast_position, :size => 3 %>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="engine_table" style="display: none;">	
		<h2>Engine</h2>
		<table cellspacing="10px">
			<tr>
				<td>
					<div class="field">
						<%= f.label :power_limit, 'Power Limiter' %><br />
						<%= f.text_field :power_limit, :size => 3 %>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="transmission_table" style="display: none;">
		<h2>Fully Customizable Transmission</h2>
		<table cellspacing="10px">
			<tr>
				<td>
					<div class="field">
						<%= f.label :gear_1, '1st Gear' %><br />
						<%= f.text_field :gear_1, :size => 4 %>
					</div>
				</td>
				<td>
					<div class="field">
						<%= f.label :gear_2, '2nd Gear' %><br />
						<%= f.text_field :gear_2, :size => 4 %>
					</div>
				</td>
				<td>
					<div class="field">
						<%= f.label :gear_3, '3rd Gear' %><br />
						<%= f.text_field :gear_3, :size => 4 %>
					</div>
				</td>
				<td>
					<div class="field">
						<%= f.label :gear_4, '4th Gear' %><br />
						<%= f.text_field :gear_4, :size => 4 %>
					</div>
				</td>
				<td>
					<div class="field">
						<%= f.label :gear_5, '5th Gear' %><br />
						<%= f.text_field :gear_5, :size => 4 %>
					</div>
				</td>
				<td>
					<div class="field">
						<%= f.label :gear_6, '6th Gear' %><br />
						<%= f.text_field :gear_6, :size => 4 %>
					</div>
				</td>
				<td>	
					<div class="field">
						<%= f.label :gear_7, '7th Gear' %><br />
						<%= f.text_field :gear_7, :size => 4 %>
					</div>
				</td>
				<td>	
					<div class="field">
						<%= f.label :gear_final, 'Final Gear' %><br />
						<%= f.text_field :gear_final, :size => 4 %>
					</div>
				</td>
				<td>	
					<div class="field">
						<%= f.label :top_speed, 'Top Speed' %><br />
						<%= f.text_field :top_speed, :size => 4 %>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="lsd_table" style="display: none;">
		<h2>Drivetrain</h2>
		<table cellspacing="10px">
			<tr>
				<th><h3>Adjustable LSD</h3></th>
			</tr>
			<tr>
				<td>
					<div class="field">
						<%= f.label :initial_torque_f, 'Front Initial Torque' %><br />
						<%= f.text_field :initial_torque_f, :size => 4 %>
					</div>
				</td>
				<td>
					<div class="field">
						<%= f.label :acceleration_sensitivity_f, 'Front Acceleration Sensitivity' %><br />
						<%= f.text_field :acceleration_sensitivity_f, :size => 4 %>
					</div>
				</td>
				<td>
					<div class="field">
						<%= f.label :braking_sensitivity_f, 'Front Braking Sensitivity' %><br />
						<%= f.text_field :braking_sensitivity_f, :size => 4 %>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="field">
						<%= f.label :initial_torque_r, 'Rear Initial Torque' %><br />
						<%= f.text_field :initial_torque_r, :size => 4 %>
					</div>
				</td>
				<td>
					<div class="field">
						<%= f.label :acceleration_sensitivity_r, 'Rear Acceleration Sensitivity' %><br />
						<%= f.text_field :acceleration_sensitivity_r, :size => 4 %>
					</div>
				</td>
				<td>
					<div class="field">
						<%= f.label :braking_sensitivity_r, 'Rear Braking Sensitivity' %><br />
						<%= f.text_field :braking_sensitivity_r, :size => 4 %>
					</div>
				</td>
			</tr>
		</table>
	</div>
		
	<div id="suspension_table" style="display: none;">
		<h2>Suspension</h2>
		<table cellspacing="10px">
			<tr>
				<th><h3>Fully Customizable Kit</h3></th>
			</tr>
			<tr>
				<tbody>
					<tr>
						<th><h4>Suspension</h4></th>
					</tr>
					<tr>
						<td>
							<div class="field">
								<%= f.label :ride_height_f, 'Front Ride Height Adjustment (mm)' %><br />
								<%= f.text_field :ride_height_f, :size => 4 %>
							</div>
						</td>
						<td>
							<div class="field">
								<%= f.label :spring_rate_f, 'Front Spring Rate (kgf/mm)' %><br />
								<%= f.text_field :spring_rate_f, :size => 4 %>
							</div>
						</td>
						<td>
							<div class="field">
								<%= f.label :dampners_ext_f, 'Front Dampers (Extension)' %><br />
								<%= f.text_field :dampners_ext_f, :size => 4 %>
							</div>
						</td>
						<td>
							<div class="field">
								<%= f.label :dampners_comp_f, 'Front Dampers (Compression)' %><br />
								<%= f.text_field :dampners_comp_f, :size => 4 %>
							</div>
						</td>
						<td>
							<div class="field">
								<%= f.label :anti_roll_bar_f, 'Front Anti-Roll Bars' %><br />
								<%= f.text_field :anti_roll_bar_f, :size => 4 %>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="field">
								<%= f.label :ride_height_r, 'Rear Ride Height Adjustment (mm)' %><br />
								<%= f.text_field :ride_height_r, :size => 4 %>
							</div>
						</td>
						<td>
							<div class="field">
								<%= f.label :spring_rate_r, 'Rear Spring Rate (kgf/mm)' %><br />
								<%= f.text_field :spring_rate_r, :size => 4 %>
							</div>
						</td>
						<td>
							<div class="field">
								<%= f.label :dampners_ext_r, 'Rear Dampers (Extension)' %><br />
								<%= f.text_field :dampners_ext_r, :size => 4 %>
							</div>
						</td>
						<td>
							<div class="field">
								<%= f.label :dampners_comp_r, 'Rear Dampers (Compression)' %><br />
								<%= f.text_field :dampners_comp_r, :size => 4 %>
							</div>
						</td>
						<td>
							<div class="field">
								<%= f.label :anti_roll_bar_r, 'Rear Anti-Roll Bars' %><br />
								<%= f.text_field :anti_roll_bar_r, :size => 4 %>
							</div>
						</td>
					</tr>
				</tbody>
			</tr>
			<tr>
				<tbody>
					<tr>
						<th><h4>Wheel Alignment</h4></th>
					</tr>
					<tr>
						<td>
							<div class="field">
								<%= f.label :camber_f, 'Front Camber Angle' %><br />
								<%= f.text_field :camber_f, :size => 4 %>
							</div>
						</td>
						<td>
							<div class="field">
								<%= f.label :toe_f, 'Front Toe Angle' %><br />
								<%= f.text_field :toe_f, :size => 4 %>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="field">
								<%= f.label :camber_r, 'Rear Camber Angle' %><br />
								<%= f.text_field :camber_r, :size => 4 %>
							</div>
						</td>
						<td>
							<div class="field">
								<%= f.label :toe_r, 'Rear Toe Angle' %><br />
								<%= f.text_field :toe_r, :size => 4 %>
							</div>
						</td>
					</tr>
				</tbody>
			</tr>
		</table>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
$(document).ready(function() {
	
	$("table.parts-table input").change(function() {
		if ($(this).attr('rel')) {
			rel = $(this).attr('rel');
			num_checked = 0;
			$('[rel="' + rel + '"]').each(function() {
				if ($(this).attr('checked')) num_checked++;
			});
			
			if (num_checked) $(rel).show();
			else $(rel).hide();
		}
	});
	
});
</script>