<table>
	<tr>
		<th></th>
		<th></th>
		<th><%= listing_header('karma', params['order_by']['karma']) %></th>
		<th><%= listing_header('tune_type', params['order_by']['tune_type'], 'Tune Type') %></th>
		<th><%= listing_header('car', params['order_by']['car']) %></th>
		<th><%= listing_header('track', params['order_by']['track']) %></th>
		<th>Tuner</th>
		<th></th>
		<!-- <th></th> -->

	</tr>

	<% @tunes.each do |tune| %>
	<tr>
		<td><%= link_to 'View Tune', tune, :id => "tune-view-btn", :class => "btn" %></td>
		<td>
			<!-- Upvote / Downvote Logic -->
			<% if tuner_signed_in? %>
				<% registered_upvote = !tune.karma_points.find(:all, :conditions => ["tuner_id = ? AND karma = 1", current_tuner.id]).empty? %>
				<% registered_downvote = !tune.karma_points.find(:all, :conditions => ["tuner_id = ? AND karma = -1", current_tuner.id]).empty? %>
				<% no_registered_votes = !registered_upvote && !registered_downvote %>

				<span id="upvote_<%= tune.id %>"<%= ' style=display:none;' unless no_registered_votes || registered_downvote %>>
					<%= link_to 'Upvote', '', { :id => tune.id, :onclick => 'add_karam_point(this.id, 1);return false;' } %>
				</span><br>
				<span id="downvote_<%= tune.id %>"<%= ' style=display:none;' unless no_registered_votes || registered_upvote %>>
					<%= link_to 'Downvote', '', { :id => tune.id, :onclick => 'add_karam_point(this.id, -1);return false;' } %>
				</span>
			<% end %>
		</td>
		<td><span id="karma_points_<%= tune.id %>"><%= tune.karma %></span></td>
		<td><%= tune.tune_type %></td>
		<td><%= tune.car.display_name %></td>
		<td><%= tune.track.name %></td>
		<td><%= tune.tuner.tuner_name %></td>
		<td><%= link_to 'Edit', edit_tune_path(tune), :class => "btn" %></td>
		<!-- <td><% link_to 'Destroy', tune, :confirm => 'Are you sure?', :method => :delete %></td> -->
	</tr>
	<% end %>
</table>

<%= paginate @tunes %>

<br />

<%= link_to 'New Tune', new_tune_path, :class => "btn" %>

<script>
function add_karam_point(tune_id, point) {
	$.get('/tunes/add_karma_point.json', {id: tune_id, point: point}, function(data) {
		$('#karma_points_' + tune_id).html(data.tune_karma);
		if (point == 1) {
			$("#downvote_" + tune_id).show();
			$("#upvote_" + tune_id).hide();
		} else {
			$("#downvote_" + tune_id).hide();
			$("#upvote_" + tune_id).show();
		}
		
		// If #total_karma exists (span on a tuners page which show the total karma). Grab the latest value
		if ($('#total_karma').length > 0) {
			$('#total_karma').html(data.total_karma)
		}
	}, 'json');
}

function order_tunes(id) {
	direction = ($(id).val() == 'ASC') ? 'DESC' : 'ASC';
	$('.order_by').val('');
	$(id).val(direction);
	$('form').submit();
}
</script>