<div id="transmission_table" style="display: none;">
	<table cellspacing="10px">
		<tr>
			<td>
				<div class="field">
					<%= f.label :gear_1, '1st Gear' %><br />
					<%= f.text_field :gear_1, :size => 4 %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :gear_2, '2nd Gear' %><br />
					<%= f.text_field :gear_2, :size => 4 %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :gear_3, '3rd Gear' %><br />
					<%= f.text_field :gear_3, :size => 4 %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :gear_4, '4th Gear' %><br />
					<%= f.text_field :gear_4, :size => 4 %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :gear_5, '5th Gear' %><br />
					<%= f.text_field :gear_5, :size => 4 %>
				</div>
			</td>
			<td>
				<div class="field">
					<%= f.label :gear_6, '6th Gear' %><br />
					<%= f.text_field :gear_6, :size => 4 %>
				</div>
			</td>
			<td>	
				<div class="field">
					<%= f.label :gear_7, '7th Gear' %><br />
					<%= f.text_field :gear_7, :size => 4 %>
				</div>
			</td>
			<td>	
				<div class="field">
					<%= f.label :gear_final, 'Final Gear' %><br />
					<%= f.text_field :gear_final, :size => 4 %>
				</div>
			</td>
			<td>	
				<div class="field">
					<%= f.label :top_speed, 'Top Speed' %><br />
					<%= f.text_field :top_speed, :size => 4 %>
				</div>
			</td>
		</tr>
	</table>
</div>