<div id="tunetabs">
	<ul>
		<li><a href="#basic_info">Basic</a></li>
		<% @groups.each do | group, subgroups | %>
			<li><a href="#<%= group.downcase.gsub(/(\s|\/)/, "_") %>"><%= group %></a></li>
		<% end %>
	</ul>
	
	
	
	<div id="basic_info">
		<h2>General Settings - <%= @tune.car.display_name %></h2>
		<p><h3><b>Tuner:</b> <%= @tune.tuner.tuner_name %></h3></p>
		<table width="700" cellspacing="10px">
			<tr>
				<td>
					<div class="field">
						<b>Track</b><br />
						<%= (@tune.track) ? @tune.track.name : 'Not Track Specific' %>
					</div>
				</td>
				<td>
					<div class="field">
						<b>Performance Points</b><br />
						<%= display_basic_info(@tune.performance_points) %>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="field">
						<b>Tune Type</b><br />
						<%= display_basic_info(@tune.tune_type) %>
					</div>
				</td>
				<td>
					<div class="field">
						<b>Weight</b><br />
						<%= display_basic_info(@tune.weight) %>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="field">
						<b>Horsepower</b><br />
						<%= display_basic_info(@tune.horsepower) %>
					</div>
				</td>
				<td>
					<div class="field">
						<b>Torque</b><br />
						<%= display_basic_info(@tune.torque) %>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="field">
						<b>Transmission Type</b><br />
						<%= display_basic_info(@tune.transmission_type) %>
					</div>
				</td>
				<td>
					<div class="field">
						<b>Traction Control</b><br />
						<%= display_basic_info(@tune.traction_control) %>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="field">
						<b>ABS</b><br />
						<%= display_basic_info(@tune.abs) %>
					</div>
				</td>
				<td>
					<div class="field">
						<b>Skid Recovery</b><br />
						<%= display_basic_info(@tune.skid_recovery) %>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="field">
						<b>Active Steering</b><br />
						<%= display_basic_info(@tune.active_steering) %>
					</div>
				</td>
				<td>
					<div class="field">
						<b>Active Stability Management (ASM)</b><br />
						<%= display_basic_info(@tune.asm) %>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="field">
						<b>Tuner Comments</b><br />
						<%= display_basic_info(@tune.comments) %>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	<%= render :partial => 'tunes/_show/parts', :locals => { :groups => @groups, :tune => @tune } %>
</div>

<% if current_tuner.present? && @tune.tuner_id == current_tuner.id %>
	<%= link_to 'Edit', edit_tune_path(@tune), :class => 'btn' %> |
<% end %>
<%= link_to 'Back', tunes_path, :class => 'btn' %>

<script>
$(document).ready(function() {
	$("#tunetabs").tabs();
});
</script>