<div id="account_info">
	<p>
		<b>Tuner Name:</b>
		<%= @tuner.tuner_name %>
	</p>
	<p>
		<b>Email:</b>
		<%= @tuner.email %>
	</p>
	<p>
		<b>Date Joined:</b>
		<%= format_date(@tuner.created_at) %>
	</p>
	<p>
		<b>Group:</b>
		<% if @tuner.group_id == 0 %>
			None | 
			<%= link_to 'Create a Group', new_group_path %> | 
			<%= link_to 'View Groups', groups_path %>
		<% else %>
			<% if @tuner.group.tuner_ids.include?(current_tuner.id) %>
				<b><%= link_to @tuner.group.name, group_path(@tuner.group) %></b>
				| <%= link_to 'Edit Group', edit_group_path(@tuner.group) if @tuner.id = @tuner.group.admin_id %>
				| <%= link_to 'Leave Group', group_path(@tuner.group) %>
			<% elsif !@tuner.group.private %>
				<%= link_to 'View Group', group_path(@tuner.group) %>
			<% end %>
		<% end %>
	</p>
	<p>
		<b>Total Karma:</b>
		<%= @tuner.total_karma %>
	</p>
</div>

<br />

<h1>Tunes</h1>
<%= render 'tunes/listing' %><br />

<%= link_to 'Edit Account', edit_tuner_path %><br />
