<div id="account_info">
	<p>
		<b>Tuner Name:</b>
		<%= @tuner.tuner_name %>
	</p>
	<p>
		<b>Email:</b>
		<%= @tuner.email %>
	</p>
	<p>
		<b>Date Joined:</b>
		<%= format_date(@tuner.created_at) %>
	</p>
	<!-- <p>
		<b>Group:</b>
			Look at TunersHelper::get_group_section()
	</p> -->
	<p>
		<b>Total Karma:</b>
		<span id="total_karma"><%= @tuner.total_karma %></span>
	</p>
	<%= link_to 'Edit Account', edit_tuner_path %><br />
</div>

<br />

<h1>Tunes</h1>
<%= render 'tunes/filters', :locals => { :form_uri => tuner_path } %>
<%= render 'tunes/listing' %><br />
