<div id="lsd_table">
	<table cellspacing="10px">
		<tr>
			<td>
				<div class="field">
					<b>Front Initial Torque:</b>
					<%= display_setting tune.initial_torque_f %>
				</div>
			</td>
			<td>
				<div class="field">
					<b>Front Acceleration Sensitivity:</b>
					<%= display_setting tune.acceleration_sensitivity_f %>
				</div>
			</td>
			<td>
				<div class="field">
					<b>Front Braking Sensitivity:</b>
					<%= display_setting tune.braking_sensitivity_f %>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="field">
					<b>Rear Initial Torque:</b>
					<%= display_setting tune.initial_torque_r %>
				</div>
			</td>
			<td>
				<div class="field">
					<b>Rear Acceleration Sensitivity:</b>
					<%= display_setting tune.acceleration_sensitivity_r %>
				</div>
			</td>
			<td>
				<div class="field">
					<b>Rear Braking Sensitivity:</b>
					<%= display_setting tune.braking_sensitivity_r %>
				</div>
			</td>
		</tr>
	</table>
</div>