<div id="lsd_table">
	<table cellspacing="10px" class="tune-settings">
		<tr>
			<td>
				<ul>
					<li>
						<b>Front Initial Torque:</b><br />
						<%= display_setting tune.initial_torque_f %>
					</li>
					<li>
						<b>Front Acceleration Sensitivity:</b><br />
						<%= display_setting tune.acceleration_sensitivity_f %>
					</li>
					<li>
						<b>Front Braking Sensitivity:</b><br />
						<%= display_setting tune.braking_sensitivity_f %>
					</li>
				</ul>
			</td>
			<td>
				<ul>
					<li>
						<b>Rear Initial Torque:</b><br />
						<%= display_setting tune.initial_torque_r %>
					</li>
					<li>
						<b>Rear Acceleration Sensitivity:</b><br />
						<%= display_setting tune.acceleration_sensitivity_r %>
					</li>
					<li>
						<b>Rear Braking Sensitivity:</b><br />
						<%= display_setting tune.braking_sensitivity_r %>
					</li>
				</ul>
			</td>
		</tr>
	</table>
</div>