<% groups.each do | group, subgroups | %>
	<div id="<%= group.downcase.gsub(/(\s|\/)/, "_") %>">
		
		<% subgroups.each do | subgroup, select_classes | %>
			<%= render(:partial => "tunes/_show/brakes_table", :locals => { :tune => tune }) if subgroup == 'Suspension' %>
			
			<h2><%= subgroup %></h2>
			
			<%= render(:partial => "tunes/_show/body_chassis_table", :locals => { :tune => tune }) if subgroup == 'Aero' %>
			<%= render(:partial => "tunes/_show/engine_table", :locals => { :tune => tune }) if subgroup == 'Engine Tuning' %>
			
			<% select_classes.each do | select_class, parts | %>
				<% no_parts_installed = true %>
				<% parts.each do | part | %>
					<% if tune.part_ids.include?(part.id) %>
						<div class="field">
							<b><%= part.name %>: </b>Installed
						</div><br />
						<% no_parts_installed = false %>
						<%= render(:partial => "tunes/_show/#{part.settings_div_id}", :locals => { :tune => tune }) if (tune.part_ids.include?(part.id) && !part.settings_div_id.empty?) %>
					<% elsif select_class.empty? %>
						<div class="field">
							<b><%= part.name %>: </b>Stock
						</div><br />
					<% elsif !select_class.empty? && no_parts_installed && part == parts.last %>
						<div class="field">
							<b><%= ucwords(select_class.gsub('_',' ')) %>: </b>Stock
						</div><br />
					<% end %>
				<% end %>
			<% end  %>
		<% end %>
		
	</div>
<% end %>