<div id="suspension_table">
	<table cellspacing="10px">
		<tr>
			<th><h3>Suspension</h3></th>
		</tr>
		<tr>
			<tbody>
				<tr>
					<td>
						<div class="field">
							<b>Front Ride Height Adjustment (mm):</b>
							<%= display_setting tune.ride_height_f %>
						</div>
					</td>
					<td>
						<div class="field">
							<b>Front Spring Rate (kgf/mm):</b>
							<%= display_setting tune.spring_rate_f %>
						</div>
					</td>
					<td>
						<div class="field">
							<b>Front Dampers (Extension):</b>
							<%= display_setting tune.dampners_ext_f %>
						</div>
					</td>
					<td>
						<div class="field">
							<b>Front Dampers (Compression):</b>
							<%= display_setting tune.dampners_comp_f %>
						</div>
					</td>
					<td>
						<div class="field">
							<b>Front Anti-Roll Bars:</b>
							<%= display_setting tune.anti_roll_bar_f %>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="field">
							<b>Rear Ride Height Adjustment (mm):</b>
							<%= display_setting tune.ride_height_r %>
						</div>
					</td>
					<td>
						<div class="field">
							<b>Rear Spring Rate (kgf/mm):</b>
							<%= display_setting tune.spring_rate_r %>
						</div>
					</td>
					<td>
						<div class="field">
							<b>Rear Dampers (Extension):</b>
							<%= display_setting tune.dampners_ext_r %>
						</div>
					</td>
					<td>
						<div class="field">
							<b>Rear Dampers (Compression):</b>
							<%= display_setting tune.dampners_comp_r %>
						</div>
					</td>
					<td>
						<div class="field">
							<b>Rear Anti-Roll Bars:</b>
							<%= display_setting tune.anti_roll_bar_r %>
						</div>
					</td>
				</tr>
			</tbody>
		</tr>
		<tr>
			<tbody>
				<tr>
					<th><h4>Wheel Alignment</h4></th>
				</tr>
				<tr>
					<td>
						<div class="field">
							<b>Front Camber Angle:</b>
							<%= display_setting tune.camber_f %>
						</div>
					</td>
					<td>
						<div class="field">
							<b>Front Toe Angle:</b>
							<%= display_setting tune.toe_f %>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="field">
							<b>Rear Camber Angle:</b>
							<%= display_setting tune.camber_r %>
						</div>
					</td>
					<td>
						<div class="field">
							<b>Rear Toe Angle:</b>
							<%= display_setting tune.toe_r %>
						</div>
					</td>
				</tr>
			</tbody>
		</tr>
	</table>
</div>