<div id="suspension_table">
	<table cellspacing="10px" class="tune-settings">
		<tr>
			<th><h3>Suspension</h3></th>
		</tr>
		<tr>
			<tbody>
				<tr>
					<td>
						<ul>
							<li>
								<b>Front Ride Height Adjustment (mm):</b><br />
								<%= display_setting tune.ride_height_f %>
							</li>
							<li>
								<b>Front Spring Rate (kgf/mm):</b><br />
								<%= display_setting tune.spring_rate_f %>
							</li>
							<li>
								<b>Front Dampers (Extension):</b><br />
								<%= display_setting tune.dampners_ext_f %>
							</li>
							<li>
								<b>Front Dampers (Compression):</b><br />
								<%= display_setting tune.dampners_comp_f %>
							</li>
							<li>
								<b>Front Anti-Roll Bars:</b><br />
								<%= display_setting tune.anti_roll_bar_f %>
							</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>
								<b>Rear Ride Height Adjustment (mm):</b><br />
								<%= display_setting tune.ride_height_r %>
							</li>
							<li>
								<b>Rear Spring Rate (kgf/mm):</b><br />
								<%= display_setting tune.spring_rate_r %>
							</li>
							<li>
								<b>Rear Dampers (Extension):</b><br />
								<%= display_setting tune.dampners_ext_r %>
							</li>
							<li>
								<b>Rear Dampers (Compression):</b><br />
								<%= display_setting tune.dampners_comp_r %>
							</li>
							<li>
								<b>Rear Anti-Roll Bars:</b><br />
								<%= display_setting tune.anti_roll_bar_r %>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</tr>
		<tr>
			<tbody>
				<tr>
					<th><h4>Wheel Alignment</h4></th>
				</tr>
				<tr>
					<td>
						<ul>
							<li>
								<b>Front Camber Angle:</b><br />
								<%= display_setting tune.camber_f %>
							</li>
							<li>
								<b>Front Toe Angle:</b><br />
								<%= display_setting tune.toe_f %>
							</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>
								<b>Rear Camber Angle:</b><br />
								<%= display_setting tune.camber_r %>
							</li>
							<li>
								<b>Rear Toe Angle:</b><br />
								<%= display_setting tune.toe_r %>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</tr>
	</table>
</div>