<div id="transmission_table">
	<table cellspacing="10px">
		<tr>
			<td>
				<div class="field">
					<b>1st Gear:</b>
					<%= display_setting tune.gear_1 %>
				</div>
			</td>
			<td>
				<div class="field">
					<b>2nd Gear:</b>
					<%= display_setting tune.gear_2 %>
				</div>
			</td>
			<td>
				<div class="field">
					<b>3rd Gear:</b>
					<%= display_setting tune.gear_3 %>
				</div>
			</td>
			<td>
				<div class="field">
					<b>4th Gear:</b>
					<%= display_setting tune.gear_4 %>
				</div>
			</td>
			<td>
				<div class="field">
					<b>5th Gear:</b>
					<%= display_setting tune.gear_5 %>
				</div>
			</td>
			<td>
				<div class="field">
					<b>6th Gear:</b>
					<%= display_setting tune.gear_6 %>
				</div>
			</td>
			<td>	
				<div class="field">
					<b>7th Gear:</b>
					<%= display_setting tune.gear_7 %>
				</div>
			</td>
			<td>	
				<div class="field">
					<b>Final Gear:</b>
					<%= display_setting tune.gear_final %>
				</div>
			</td>
			<td>	
				<div class="field">
					<b>Top Speed:</b>
					<%= display_setting tune.top_speed %>
				</div>
			</td>
		</tr>
	</table>
</div>