<div id="transmission_table">
	<table cellspacing="10px" class="tune-settings">
		<tr>
			<td>
				<ul>
					<li>
						<b>1st Gear:</b>
						<%= display_setting tune.gear_1 %>
					</li>
					<li>
						<b>2nd Gear:</b>
						<%= display_setting tune.gear_2 %>
					</li>
					<li>
						<b>3rd Gear:</b>
						<%= display_setting tune.gear_3 %>
					</li>
					<li>
						<b>4th Gear:</b>
						<%= display_setting tune.gear_4 %>
					</li>
					<li>
						<b>5th Gear:</b>
						<%= display_setting tune.gear_5 %>
					</li>
					<li>
						<b>6th Gear:</b>
						<%= display_setting tune.gear_6 %>
					</li>
					<li>
						<b>7th Gear:</b>
						<%= display_setting tune.gear_7 %>
					</li>
				</ul>
			</td>
			<td>
				<ul>
					<li>
						<b>Final Gear:</b>
						<%= display_setting tune.gear_final %>
					</li>
					<li>
						<b>Top Speed:</b>
						<%= display_setting tune.top_speed %>
					</li>
				</ul>	
			</td>
		</tr>
	</table>
</div>