<!DOCTYPE html>
<html>
<head>
  <title>GTHub | <%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<ul id="header-nav">
			<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'Tune Database', tunes_path %></li>
			<% if tuner_signed_in? %>	
				<li><%= link_to 'Account', tuner_path(current_tuner) %></li>
				<li><%= link_to 'Logout', destroy_tuner_session_path %></li>
			<% else %>
				<li><%= link_to 'Login', new_tuner_session_path %></li>
			<% end %>
			<li><%= link_to 'Donate', '' %></li>
		</ul>
		<div id="logo">
			<%= link_to image_tag("logo.png"), root_path %>
		</div>
	</div>
	<div id="content-wrapper">
		<div id='content-header'>
			<%= image_tag("content-header.png") %>
			<h1 id="content-header-text"><%= @title %></h1>
		</div>
		<div id="content-sub-wrapper">
			<div id="content">
				<!-- Flash Messages -->
				<% flash.each do |name, msg| %>
				      <%= content_tag :h2, msg, :id => "flash_#{name}" %>
				<% end %>
				<!-- Yield For Actual Content -->
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
