<!DOCTYPE html>
<html>
<head>
  <title>GTHub | <%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-28150215-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
</head>
<body>
	<div id="header">
		<ul id="header-nav">
			<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'Tune Database', tunes_path %></li>
			<% if tuner_signed_in? %>	
				<li><%= link_to 'Account', tuner_path(current_tuner) %></li>
				<li><%= link_to 'Logout', destroy_tuner_session_path %></li>
			<% else %>
				<li><%= link_to 'Login', new_tuner_session_path %></li>
			<% end %>
			<li><%= link_to 'Donate', donate_path %></li>
		</ul>
		<div id="logo">
			<%= link_to image_tag("logo.png"), root_path %>
		</div>
	</div>
	<div id="content-wrapper">
		<div id='content-header'>
			<%= image_tag("content-header.png") %>
			<h1 id="content-header-text"><%= @title %></h1>
		</div>
		<div id="content-sub-wrapper">
			<div id="content">
				<!-- Flash Messages -->
				<% flash.each do |name, msg| %>
					<br />
					<div class="alert-message info">
						<%= content_tag :p, msg, :id => "flash_#{name}" %>
					</div>
				<% end %>
				<!-- Yield For Actual Content -->
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
